---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../../layouts/Layout.astro';
import ParticleBackGround from '../../components/ParticleBackGround.astro';
import GlobalNav from '../../components/GlobalNav.astro';
import Footer from '../../components/Footer.astro';

import './works.scss';

---
<Layout title='uiコンポーネントのテスト用'>

    <ParticleBackGround zIndex={1} particleDensity={0.5}/>
	<GlobalNav/>
    <header></header>	
    <main>開発中です。自分が作った作品を載せる場所です。。</main>
	<Footer zIndex="2" blendMode='multiply'/>
</Layout>
