---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../../layouts/Layout.astro';
import ParticleBackGround from '../../components/ParticleBackGround.astro';
import GlobalNav from '../../components/GlobalNav.astro';
import Footer from '../../components/Footer.astro';
import WorksOfHeader from './_components/WorksOfHeader.astro';
import WorkCardsSection from './_components/WorkCardsSection.astro'
import WorkCard from './_components/WorkCard.astro';


---
<Layout title='uiコンポーネントのテスト用'>

    <ParticleBackGround zIndex={1} particleDensity={0.5}/>
	<GlobalNav/>
    <WorksOfHeader/>
    <main>
        <WorkCardsSection sectionTitle='ゲーム作品' zIndex='2'>
            <WorkCard  workTitle='GunSwapShooter※スマホのみ' workMediaURL='/video/gunSwapShooter.mp4' playLink='https://unityroom.com/games/gun_swap_shooter' detailLink='https://github.com/Hosituka/GunSwapShooter'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#,blender,gimp<br>
                    shadergraph,git/github,GeminiCLI<br>
                    <strong>・制作期間</strong>：2025/11月～2026/3月。<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    <strong>#このゲームについて</strong><br>
                    的の色に合わせて赤い銃と青い銃を打ち分けるARシューティングゲームです。大学生活が落ち着いてきたため、一年半ぶりに作りました。現状プログラミングの成長的にも、ゲームの面白さ的にも一番だと感じています。良かったら遊んでみてね。
                    <br><strong>#使用技術について</strong><br>
                    この開発では初めてAIエージェントの一種であるGeminiCLIとgit/githubを導入しました
                    <hr>AIを使っていると言うとコードを書いていないように感じるかと思いますが、自分の場合は、バイブコーディングとしてではなく、コードを書く上での指導役として使っていました。その結果、ジェネリックプログラミングといった新たなプログラミングの考え方と、メモリによる負荷を均一にするためのオブジェクトプール、CRTP、テンプレートメソッドパターン等のデザインパターンを沢山学べました。だから、冒頭の「プログラマーとして一番成長できた作品」という意見に繋がります。具体的なコードに関しては詳細というボタンを押してもらうとgithubに飛べますのでよかったら見て行ってください。
                </Fragment>
            </WorkCard>
            <WorkCard  workTitle='音ゲー※中止' workMediaURL='/video/musicGame.mp4'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#,blender,gimp<br>
                    shadergraph<br>
                    <strong>・制作期間</strong>：2023/7月～2024/5月中止<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    <strong>#このゲームについて</strong><br>
                    マウスをフリックする動作はIIDX(ゲーム)のターンテーブルを回す動作に近い感覚が得られるのでは？という発想から、作ろうとしていた幻のゲームです。音楽ゲームは大好きなジャンルのため、絶対に完成させたかったのですが色々な理由から完遂できなかったです。
                    <br><strong>#完成しなかった理由</strong><br>
                    bpm？ 拍？っていうレベルで音楽の知識がない上、このころは継承やインターフェースといったc#の機能も十分に理解していなかったため、見た目はともかく、操作性や譜面生成の仕組み等、目に見えない部分がボロボロでした。そんな中でリアルが忙しくなったのとパーテーションを間違えて消してしまうというやらかしまでしてしまったため、完璧にやる気が消えて、未完成となりました
                    <br><strong>#得たものについて</strong><br>
                    このゲームから得たものとしては、gimpとshaderGraphの組み合わせ方を学べました。このゲームのビジュアルが良いのはそれに起因します。長々と綴りましたが、流石に自分の好きなジャンルが完成しなかったのは悔しいので、いつかリベンジします。
                </Fragment>
            </WorkCard>

            <WorkCard  workTitle='PIRATE SHIP' workMediaURL='/video/pirateShip.mp4' playLink='https://unityroom.com/games/hositukage-mu6'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#,blender,shadergraph<br> 
                    <strong>・制作期間</strong>：2021/4月～2023/7月。<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>
            <WorkCard  workTitle='戦車のゲーム' workMediaURL='/normalImage/work/gameOfTank.webp' playLink='https://unityroom.com/games/hositukage-mu5'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#,blender<br>
                    <strong>・制作期間</strong>：2021/2月～2021/4月。<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>
            <WorkCard  workTitle='チュートリアル見て作った奴2' workMediaURL='/normalImage/work/4thWork.webp' playLink='https://unityroom.com/games/hositukage-mu4'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#<br>
                    <strong>・制作期間</strong>：2021/2月/14日完成<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>
            <WorkCard  workTitle='チュートリアル見て作った奴1' workMediaURL='/normalImage/work/3thWork.webp' playLink='https://unityroom.com/games/hositukage-mu3' >
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#<br>
                    <strong>・制作期間</strong>：2021/2月/7日完成<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>

            <WorkCard  workTitle='シューティングゲーム' workMediaURL='/video/2thWork.mp4' playLink='https://unityroom.com/games/hositukage-mu2'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：unity,c#,Edge(ドット絵制作ツール)<br>
                    <strong>・制作期間</strong>：2020/12月～2021/3月。<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                </Fragment>
            </WorkCard>
        </WorkCardsSection>

        <WorkCardsSection sectionTitle='その他' zIndex='2'>
            <WorkCard  workTitle='ポートフォリオサイト' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                <Fragment slot="card-specs">
                    <strong>・使用技術</strong>：Astro,scss,html,ts,GeminiCLI<br>
                    <strong>・制作期間</strong>：2026/3月～現在まで。<br> 
                    <strong>・開発人数</strong>：一人           
                </Fragment>
                <Fragment slot="overview">
                    hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>
        </WorkCardsSection>
    </main>
	<Footer zIndex="2" blendMode='multiply'/>
</Layout>
<style>
    @import url(works.scss);
</style>
