@use '../../global-styles/_utility' as *;

@layer Layout{
    main{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:20px;

        flex-grow:1;
        &::before{
            z-index:1;
        }
        & > * {
            z-index:3;
        }
    }
}
@layer Appearance{
    main{
        width:100%;
        padding:20px 0px;
        background-color:whitesmoke;

    }

}
//#レスポンシブ対応用のやつここでは上二つのレイヤーみたいな区別は行わない
@media (max-width:490px) {


}
