---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../../layouts/Layout.astro';
import ParticleBackGround from '../../components/ParticleBackGround.astro';
import GlobalNav from '../../components/GlobalNav.astro';
import Footer from '../../components/Footer.astro';
import WorksOfHeader from './_components/WorksOfHeader.astro';
import WorkCard from './_components/WorkCard.astro';


---
<Layout title='uiコンポーネントのテスト用'>

    <ParticleBackGround zIndex={1} particleDensity={0.5}/>
	<GlobalNav/>
    <WorksOfHeader/>
    <main>
        <section class="cards-section">
            <h2>ゲーム作品</h2>
            <div>
                <WorkCard  workTitle='GunSwapShooter' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>
                <WorkCard  workTitle='PIRATE SHIP' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>
                <WorkCard  workTitle='戦車のゲーム' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>
                <WorkCard  workTitle='チュートリアル見て作った奴2' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>
                <WorkCard  workTitle='シューティングゲーム' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>
                <WorkCard  workTitle='チュートリアル見て作った奴1' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>

            </div>
        </section>
        <section class="cards-section">
            <h2>その他</h2>
            <div>
                <WorkCard  workTitle='ポートフォリオサイト' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                    <Fragment slot="card-specs">
                        hegehegehegehegehege
                    </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                    </Fragment>
                </WorkCard>

            </div>

        </section>

    </main>
	<Footer zIndex="2" blendMode='multiply'/>
</Layout>
<style>
    @import url(works.scss);
</style>
