$dark-yellow:rgb(174, 163, 0);
$yellow : rgb(235, 220, 0);
$light-yellow : rgb(255, 252, 211);

$dark-blue:rgb(44, 53, 174);
$blue:rgb(56,69,255);
$light-blue:#9AAFEF;

$dark-gray: #333;

$light-black:rgb(30, 30, 30);

@function GetSmoothShadowValue($color,$step:5px,$count:5,$offset:2px){
	$result:();
	@for $countUp from 0 to $count{
		$rightBottomPos:$countUp * $step + $offset;
        $blur:$countUp * $step;
		$alpha:1 - ($countUp / $count);
		$result:append($result,$rightBottomPos $rightBottomPos $blur rgba($color,$alpha),comma);
	}
	@return $result;
}
