---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro';
import GlobalNav from '../components/GlobalNav.astro';
import Footer from '../components/Footer.astro';
import HeaderOfAboutMe from '../components/aboutMe/HeaderOfAboutMe.astro';
import AccordionOfSkills from '../components/aboutMe/AccordionOfSkills.astro';

---
<Layout title='私について'>

	<GlobalNav/>
    <HeaderOfAboutMe/>
    <main>
        <section class="my-skills">
            <h2>私のスキル</h2>
            <div class="content">
                <AccordionOfSkills skillName='C#' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='C#' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='C#' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='C#' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='C#' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>

            </div>
        </section>
    </main>
	<Footer zIndex="2" blendMode='multiply'/>
</Layout>
<style lang="scss">
    @import url('../styles/pages/aboutMe.scss');
</style>
