---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro';
import GlobalNav from '../components/GlobalNav.astro';
import Footer from '../components/Footer.astro';
import HeaderOfAboutMe from '../components/aboutMe/HeaderOfAboutMe.astro';
import AccordionOfSkills from '../components/aboutMe/AccordionOfSkills.astro';

---
<Layout title='私について'>

	<GlobalNav/>
    <ParticleBackGround particleDensity={0.5}/>
    <HeaderOfAboutMe/>
    <main>
        <section class="my-skills">
            <h2>私のスキル</h2>
            <div class="show-skill-buttons"> 
                <button class="is-selected" data-category="language">言語</button>
                <button data-category="framework">フレームワーク</button>
                <button data-category="tools">ツール</button>
                <button data-category="library">ライブラリ</button>
            </div>
            <div class="skills-content is-visible" data-category="language">
                <AccordionOfSkills skillName='C#※Unity' skillIconURL='/icon/CSharpLogo.svg' proficiency='90%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='HTML' skillIconURL='/icon/CSharpLogo.svg' proficiency='80%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='SCSS/CSS' skillIconURL='/icon/CSharpLogo.svg' proficiency='70%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='TS/JS' skillIconURL='/icon/CSharpLogo.svg' proficiency='50%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='VBA' skillIconURL='/icon/CSharpLogo.svg' proficiency='15%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='VB.NET' skillIconURL='/icon/CSharpLogo.svg' proficiency='10%'>
                    <strong>執筆日</strong>：2026/4/20
                    <br><strong>初学習日</strong>：2025年らへん
                    <br>大学の授業で初めて触りました。この言語に対する自信は一番低いです。理由としては、大学でしか触っていないため.NET FrameWorkなどのフレームワーク周りの知識がほぼなく、また、この言語を用いた個人開発経験もないからです。
                    正直、この言語で作れるものが何なのかすら分からないです。Javaと同じく業務アプリケーションになるのでしょうか？、UnityではC#、フロントエンド開発ではTSみたいに使い分けられる段階には至っておりません。
                </AccordionOfSkills>

            </div>
            <div class="skills-content" data-category="framework">
                <AccordionOfSkills skillName='Unity' skillIconURL='/icon/CSharpLogo.svg' proficiency='80%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='Astro' skillIconURL='/icon/CSharpLogo.svg' proficiency='60%'>
                    未完成です。
                </AccordionOfSkills>

            </div>
            <div class="skills-content" data-category="tools">
                <AccordionOfSkills skillName='ShaderGraph' skillIconURL='/icon/CSharpLogo.svg' proficiency='70%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='GeminiCLI' skillIconURL='/icon/CSharpLogo.svg' proficiency='50%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='Blender' skillIconURL='/icon/CSharpLogo.svg' proficiency='50%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='Git' skillIconURL='/icon/CSharpLogo.svg' proficiency='40%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='Github' skillIconURL='/icon/CSharpLogo.svg' proficiency='40%'>
                    未完成です。
                </AccordionOfSkills>
                <AccordionOfSkills skillName='Gimp' skillIconURL='/icon/CSharpLogo.svg' proficiency='20%'>
                    未完成です。
                </AccordionOfSkills>


            </div>
            <div class="skills-content" data-category="library">
                <AccordionOfSkills skillName='UniTask' skillIconURL='/icon/CSharpLogo.svg' proficiency='70%'>
                    未完成です。
                </AccordionOfSkills>

            </div>

        </section>
    </main>
	<Footer zIndex="2" blendMode='multiply'/>
</Layout>
<style lang="scss">
    @import url('../styles/pages/aboutMe.scss');
</style>
<script>
    //#スキルをジャンル別に表示非表示を出来るようにするための処理
    const showSkillsButtons:NodeListOf<HTMLElement>=document.querySelectorAll('.show-skill-buttons button');
    const skillsContents:NodeListOf<HTMLElement>=document.querySelectorAll('.my-skills .skills-content');
    let showingSkillsContent:HTMLElement|null = document.querySelector('.my-skills .skills-content.is-visible');

    showSkillsButtons.forEach((e)=>{e.addEventListener('click',TryShowSkillsContent)})

    function TryShowSkillsContent(event:MouseEvent){
        if(!showingSkillsContent)return;

        const showingSkillsAccordions:NodeListOf<HTMLElement> = showingSkillsContent.querySelectorAll('accordion-of-skills')
        const targetButton:HTMLElement = event.currentTarget as HTMLElement;
        const buttonCategory:string|undefined = targetButton.dataset.category;
        if(!buttonCategory){console.error('データ属性categoryがbutton要素に紐づけられていません'); return;}


        for(const skillsContent of skillsContents){
            const contentCategory:string|undefined = skillsContent.dataset.category;
            if(!contentCategory){console.error('データ属性categoryがskillsContentクラスセレクタがある要素に紐づけられていません'); return;}
            if(buttonCategory !== contentCategory){continue};
            if(showingSkillsContent === skillsContent)return;
            const nextShowSkillsAccordions:NodeListOf<HTMLElement> = skillsContent.querySelectorAll('accordion-of-skills');
            showSkillsButtons.forEach((e)=>{e.classList.remove('is-selected')});
            showingSkillsAccordions.forEach((e)=>{e.classList.remove('is-open')});
            skillsContents.forEach((e)=>{e.classList.remove('is-visible')});
            nextShowSkillsAccordions.forEach((e)=>{e.dispatchEvent(new CustomEvent('tab-shown'))})

            targetButton.classList.add('is-selected');
            skillsContent.classList.add('is-visible');
            showingSkillsContent = skillsContent;
            return;
            
        }
        console.error('eventの発信者となったボタンが持つcategoryデータ属性に対応するskillsContentが存在しません');
    }
</script>
