---
//このファイルはトップページに当たります。
import Layout from '../layouts/Layout.astro';

import GrobalNav from '../components/GlobalNav.astro';
import AboutMeCard from '../components/AboutMeCard.astro';
import Footer from '../components/Footer.astro';
import './index.scss';

---
<Layout title='ホーム'>
	<GrobalNav topURL ="/" worksURL="/works.astro"devLogURL="/devLog.astro"  sNS_URL="/sns.astro" />
	<header>
		<div id="page-title-container">
			<h1>Hositukaの</h1><h1>ホームページ</h1>
		</div>
	</header>
	<main>
		<section id="about-me-section">
			<h2>私について</h2>
			<div id="about-me-main">
				<AboutMeCard/>
				<p id="about-me-text">
					主にブラウザ上で遊ぶゲームをunityで作っています。最近はweb(フロントエンド)の勉強も始めました。拙い部分が目立つと思いますが、温かい目で見守ってください。
				</p>
				<div id="sns-container">
					<a href="https://unityroom.com/users/hosi">
						<img src="Icon/UnityRoomLogo.webp" alt="UnityRoomLogo">
					</a>
					<a href="https://x.com/hosituka">
						<img src="Icon/X_Logo.svg" alt="X_Logo">
					</a>
					<a href="https://github.com/Hosituka">
						<img src="Icon/GitHubLogo.svg" alt="GitHubLogo">
					</a>
					<a href="https://connpass.com/user/hosituka/">
						<img class="is-small" src="Icon/ConnpassLogo.webp" alt="ConnpassLogo">
					</a>
				</div>
			</div>
		</section>
		<section id="main-works">
			<h2>主要な作品</h2>
		</section>
	</main>
	<Footer/>
</Layout>
