@use '../global-styles/_variables' as *;
//#配置に関するスタイル

@layer Layout{
    header{
        position:relative;
        .page-title-container{
            display:flex;
            position:absolute;
            bottom:8px;
            left:50%;
            transform:translate(-50%);
          /*h1{

            }*/
        }
    }
    main{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
        .about-me-section{
            margin-top:8px;
            h2{
                position:relative;
                //各セクションの見出しで左側をこんもりさせるための疑似要素
                &::after{
                    position:absolute;
                    top:-15px;
                    left:0px;
                }
            }
            .about-me-main{
                display:grid;
                column-gap: 20px;
                grid-template-areas: 
                    "card text"
                    "card sns";
                grid-template-columns: auto 1fr;
                about-me-card{
                    grid-area:card;
                }
                .about-me-text{
                    grid-area:text;
                    align-self:end;
                 }
                .sns-container{
                    grid-area:sns;
                    display:flex;
                    justify-content: center;
                    gap:13px;
                }

            }
        }
        .main-works{
          /*h2{

            }
            .carousel-container{
            }*/
            .main-works-footer{
                margin-bottom: 50px;
            }

        }
    }
}
//#見た目や内部の配置に関するスタイル
@layer Appearance{
    header{
        min-height:100px;
        border-bottom:1px solid black;
        background-color: $dark-yellow;
        .page-title-container{
            h1{
                line-height: 40px;  
                font-size: 40px;
                color: white;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                paint-order: stroke;
                white-space: nowrap;
                font-family: sans-serif;
            }
        }
    }
    main{
        background-color:  ghostwhite;
        .about-me-section{
            max-width: 700px;
            h2{
                background-color: $dark-gray;
                color:white;
                padding-left:10px;
                padding-bottom: 10px;
                font-family: sans-serif;
                //各セクションの見出しで左側をこんもりさせるための疑似要素
                &::after{
                    width:150px;
                    height:16px;
                    content:"";
                    background-color: $dark-gray;
                    border-top-left-radius:40px;
                    border-top-right-radius:40px;
                }

            }
            .about-me-main{
                box-sizing: border-box;
                padding:20px;
                border:1px solid #333;
                background-color:  white;

                .about-me-text{
                    width:250px;
                    line-height: 1.6;

                }
                .sns-container{
                    width:250px;
                    a{
                        outline:3px solid gray;
                        outline-offset: -2px;
                        overflow: hidden;
                        border-radius: 50%;
                        height:50px;
                        width:50px;
                        img{
                            height:50px;
                            width:50px;
                            object-fit: cover;
                        }
                        .is-small{
                            padding:6px;      
                        }
                    }
                }
            }
        }
        .main-works{
            width:100%;
            h2{
                background-color: $dark-gray;
                color:white;
                border-top-left-radius:25px;
                border-top-right-radius:25px;
                text-align: center;
                font-family: sans-serif;
                padding: 5px 0 5px 0px;
            }
            .carousel-container{
                height:200px;
                background-color: $light-yellow;
            }
            .main-works-footer{
                background-color: $dark-gray;
                height:38px;
                width:100%;
                border-bottom-left-radius:25px;
                border-bottom-right-radius:25px;
            }
        }
    }
}
//レスポンシブ対応用のスタイルここではLayoutとappearanceの区別はしない
@media (max-width:510px) {
    header{
        height:145px;
        .page-title-container{
            flex-direction: column;
            bottom:10px;
        }
    }
}
@media (max-width:700px) {
    main{
        .about-me-section{
          /*h2{
            }*/
            .about-me-main{
                grid-template-areas: 
                    "card"
                    "sns"
                    "text";
                grid-template-columns: 1fr;
                justify-items: center;
                padding:10px;
                .sns-container{
                    margin:15px 0px 10px 0px;
                }
            }
        }
    }
}