---
//このファイルはトップページに当たります。
import Layout from '../layouts/Layout.astro';

import GrobalNav from '../components/GlobalNav.astro';
import AboutMeCard from '../components/AboutMeCard.astro';
import Footer from '../components/Footer.astro';

import Carousel1 from '../components/MyCarousel.astro';
import CardOfCarousel1 from '../components/CardOfCarousel.astro';
import CardOfCarousel2 from '../components/CardOfCarousel.astro';
import CardOfCarousel3 from '../components/CardOfCarousel.astro';
import CardOfCarousel4 from '../components/CardOfCarousel.astro';
import CardOfCarousel5 from '../components/CardOfCarousel.astro';
import CardOfCarousel6 from '../components/CardOfCarousel.astro';

import './index.scss';

---
<Layout title='ホーム'>
	<GrobalNav topURL ="/" worksURL="/works.astro"devLogURL="/devLog.astro"  sNS_URL="/sns.astro" />
	<header>
		<div class="page-title-container">
			<h1>Hositukaの</h1><h1>ホームページ</h1>
		</div>
	</header>
	<main>
		<section class="about-me-section">
			<h2>私について</h2>
			<div class="about-me-main">
				<AboutMeCard/>
				<p class="about-me-text">
					主にブラウザ上で遊ぶゲームをunityで作っています。最近はweb(フロントエンド)の勉強も始めました。拙い部分が目立つと思いますが、温かい目で見守ってください。
				</p>
				<div class="sns-container">
					<a href="https://unityroom.com/users/hosi">
						<img src="/icon/UnityRoomLogo.webp" alt="UnityRoomLogo">
					</a>
					<a href="https://x.com/hosituka">
						<img src="/icon/X_Logo.svg" alt="X_Logo">
					</a>
					<a href="https://github.com/Hosituka">
						<img src="/icon/GitHubLogo.svg" alt="GitHubLogo">
					</a>
					<a href="https://connpass.com/user/hosituka/">
						<img class="is-small" src="/icon/ConnpassLogo.webp" alt="ConnpassLogo">
					</a>
				</div>
			</div>
		</section>
		<section class="main-works">
			<h2>主要な作品</h2>
			<div class="carousel-container" >
				<Carousel1 speed={-1}>
					<CardOfCarousel1 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel1>
					<CardOfCarousel2 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel2>
					<CardOfCarousel3 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel3>
					<CardOfCarousel4 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel4>
					<CardOfCarousel5 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel5>
					<CardOfCarousel6 workTitle='test' workImageURL='icon/MyIcon.webp'>
						<ul slot="teck-list">
							<li>hoge1</li>
							<li>hoge2</li>
							<li>hoge3</li>
							<li>hoge4</li>
							<li>hoge5</li>
						</ul>
					</CardOfCarousel6>

				</Carousel1>
			</div>
			<div class="main-works-footer">

			</div>

		</section>
	</main>
	<Footer/>
</Layout>
