---
//このファイルはトップページに当たる.astroが書かれています。
import Layout from '../layouts/Layout.astro';
import './index.css'
---

<Layout title ="メイン">
	<h1>私のポートフォリオサイトへようこそ!</h1>
	<p>ここに自己紹介やサイトの説明が入ります。</p>
</Layout>
