---
//このファイルはトップページに当たります。
import Layout from '../layouts/Layout.astro';
import GlobalNav from '../components/GlobalNav.astro';

import Footer from '../components/Footer.astro';

import AboutMeCard from '../components/AboutMeCard.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro'

import Carousel from '../components/MyCarousel.astro';
import CardOfCarousel from '../components/WorkCardOfCarousel.astro';
import './index.scss';

---
<Layout title='ホーム'>
	<GlobalNav topURL ="/" aboutMe="/aboutMe.astro" worksURL="/works.astro"devLogURL="/devLog.astro"  />	
	<ParticleBackGround zIndex={1} particleDensity={0.5}/>
	<header>
		<div class="page-title-container">
			<h1>Hositukaの</h1><h1>ホームページ</h1>
		</div>
	</header>
	<main>
		<section class="about-me-section">
			<h2>私について</h2>
			<div class="about-me-main">
				<AboutMeCard/>
				<p class="about-me-text">
					主にブラウザ上で遊ぶゲームをunityで作っています。最近はweb(フロントエンド)の勉強も始めました。拙い部分が目立つと思いますが、温かい目で見守ってください。
				</p>
				<div class="sns-container">
					<a href="https://unityroom.com/users/hosi">
						<img src="/icon/UnityRoomLogo.webp" alt="UnityRoomLogo">
					</a>
					<a href="https://x.com/hosituka">
						<img src="/icon/X_Logo.svg" alt="X_Logo">
					</a>
					<a href="https://github.com/Hosituka">
						<img src="/icon/GitHubLogo.svg" alt="GitHubLogo">
					</a>
					<a href="https://connpass.com/user/hosituka/">
						<img class="is-small" src="/icon/ConnpassLogo.webp" alt="ConnpassLogo">
					</a>
				</div>

			</div>
		</section>
		<section class="main-works">
			<h2>主要な作品</h2>
			<div class="carousel-container" >
				<Carousel speed={-80}>
					<CardOfCarousel workTitle='ポートフォリオサイト' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
						<strong>・使用技術</strong>
						：Astro,scss,typescript,<br>
						git/github<br>
						<strong>・制作期間</strong>
					    ：2026/3月～現在まで。<br>
						<strong>・概要</strong>
						：8作目、このサイトの事<br>
						自己分析の一環として自分について、まとめるサイトが欲しくなって作りました。今までゲームプログラミングしかして来なかった為、苦戦はしましたが、楽しかったです。
					</CardOfCarousel1>
					<CardOfCarousel workTitle='GunSwapShooter※スマホのみ' workMediaURL='/video/gunSwapShooter.mp4' playLink='https://unityroom.com/games/gun_swap_shooter' detailLink='https://github.com/Hosituka/GunSwapShooter'>
						<strong>・使用技術</strong>
						：unity,c#,blender,gimp<br>
						shadergraph,git/github<br>
						<strong>・制作期間</strong>
						：2025/11月～2026/3月。<br>
						<strong>・概要</strong>
						：webARシューティングゲーム<br>
						7作目です。一年半ぶりにゲームを作りました。現状コーディングの成長的にも、ゲームの楽しさ的にも一番なゲームです。ぜひ遊んでね。後、初めてgit/githubを使いました。

					</CardOfCarousel>
					<CardOfCarousel workTitle='音ゲー※中止' workMediaURL='/video/musicGame.mp4'>
						<strong>・使用技術</strong>
						：unity,c#,blender,gimp,<br>
						shadergraph<br>
						<strong>・制作期間</strong>
						：2023/7月～2024/5月中止<br>
						<strong>・概要</strong>
						：見た目はだいぶ綺麗ですが、操作性が悪く、またコード、音楽知識共に未熟な為、完成しなかったゲーム。一方でgimpの学習を始めるきっかけとなり、shaderと組み合わせる方法も学びました。いつかリベンジする。
					</CardOfCarousel>

					<CardOfCarousel workTitle='船のゲーム' workMediaURL='/video/pirateShip.mp4' playLink='https://unityroom.com/games/hositukage-mu6'>
						<strong>・使用技術</strong>
						：unity,c#,blender,<br>
						shadergraph<br>
						<strong>・制作期間</strong>
						：2021/4月～2023/7月。<br>
						<strong>・概要</strong>
						：6作目、操作性最悪なゲームです。無謀にもオープンワールドにしたせいで、終わらなかったです。その代わりにshaderGraphを学ぶきっかけとなり、海とスカイボックスを自作するなど絵作りの知識はついたと思います。
					</CardOfCarousel>
					<CardOfCarousel workTitle='戦車のゲーム' workMediaURL='/normalImage/work/gameOfTank.webp' playLink='https://unityroom.com/games/hositukage-mu5'>
						<strong>・使用技術</strong>
						：unity,c#,blender,<br>
						<strong>・制作期間</strong>
						：2021/2月～2021/4月。<br>
						<strong>・概要</strong>
						：5作目、二番目に遊べるゲームです。楽しいかと言われたら微妙、初めてblenderを触りだした作品でもあります。履帯は再現しようとしましたが、技術力が足らず、出来ませんでした。リベンジしてみたいね。
					</CardOfCarousel>

				</Carousel>
			</div>
			<div class="main-works-footer">

			</div>

		</section>
	</main>
	<Footer zIndex='2' blendMode='multiply'/>
</Layout>
