---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import MyCarousel from '../components/MyCarousel.astro';
import Test1 from '../components/GameCardOfCarousel.astro';
import Test2 from '../components/GameCardOfCarousel.astro';
import Test3 from '../components/GameCardOfCarousel.astro';
import Test4 from '../components/GameCardOfCarousel.astro';



---
<Layout title='uiコンポーネントのテスト用'>
    <Test1 gameTitle='GunSwapShooter' gameImageURL='/icon/MyIcon.webp'>
        <ul slot="teck-list">
            <li>hoge1</li>
            <li>hoge2</li>
            <li>hoge3</li>
            <li>hoge4</li>
            <li>hoge5</li>
        </ul>
    </Test1>
    <Test2 gameTitle='GunSwapShooter' gameImageURL='/icon/MyIcon.webp'>
        <ul slot="teck-list">
            <li>hoge1</li>
            <li>hoge2</li>
            <li>hoge3</li>
            <li>hoge4</li>
            <li>hoge5</li>
        </ul>
    </Test2>

</Layout>
