---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro';

---
<Layout title='uiコンポーネントのテスト用'>
    <main>
        <ParticleBackGround particleDensity={50}/>
    </main>
</Layout>
<style lang="scss">
    main{
        position:absolute;
        top:500px;
        width:500px;
        height:500px;
    }
</style>
