---
import Layout from '../layouts/Layout.astro';
import AccordionOfSkills from '../components/AccordionOfSkills.astro';
import GlobalNav from '../components/GlobalNav.astro';
import Accordion from '../components/Accordion.astro';
---

<Layout title="Accordion Test">
    <GlobalNav />
    <header></header>
    <main>
        <AccordionOfSkills skillName='GitHub' skillIconURL='/icon/GitHubLogo.svg' a="50%">
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
            ラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメンラーメン
        </AccordionOfSkills>
    </main>
</Layout>

<style lang="scss">
 header{
    width:100%;
    height:100px;
    background-color: yellow;
 }
 main{
    background-color: white;
 }
</style>
