---
import Layout from '../layouts/Layout.astro';
import GlobalNav from '../components/GlobalNav.astro';
import AboutMeTimeline from '../components/aboutMe/AboutMeTimeline.astro';
---

<Layout title="Accordion Test">
    <GlobalNav />
    <header></header>
    <main>
      <AboutMeTimeline/>
    </main>
</Layout>

<style lang="scss">
 header{
    width:100%;
    height:100px;
    background-color: yellow;
 }
 main{
    background-color: white;
 }
</style>
