---
//このファイルはuiコンポーネントのテスト用に使うページコンポーネントです。
import Layout from '../layouts/Layout.astro';
import ParticleBackGround from '../components/ParticleBackGround.astro';
import GlobalNav from '../components/GlobalNav.astro';
import Footer from '../components/Footer.astro';

import WorkCard from './works/_components/WorkCard.astro';
import WorkCardsSection from './works/_components/WorkCardsSection.astro'

---
<Layout title='uiコンポーネントのテスト用'>

	<GlobalNav topURL ="/" aboutMe="/aboutMe.astro" worksURL="/works.astro"devLogURL="/devLog.astro"  />
    <header></header>	
    <main>
        <WorkCardsSection sectionTitle='hoge' zIndex=' 3'>
            <WorkCard  workTitle='ポートフォリオサイト' workMediaURL='/video/portfolioSite.mp4' detailLink='https://github.com/Hosituka/hosituka-portfolio'>
                <Fragment slot="card-specs">
                        このページは製作中です。
                </Fragment>
                    <Fragment slot="overview">
                        hegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehegeegehegehegehegehegehegehegehegehegehegehege
                </Fragment>
            </WorkCard>
        </WorkCardsSection>
    </main>
	<Footer zIndex='0'/>
</Layout>
<style lang="scss">
    header{
        height:100px;
        background-color: black;;
    }

    main{
        width:100%;
        flex-grow:1;
        background-color: green;
    }
</style>
