---
//#私について簡潔に書いてある、つまり名刺を表すUIコンポーネント
---

<about-me-card>
	<div class="card">
		<div class="front">
			<div class="back-ground">
				<div class="main-color"></div>
				<div class="stripes"></div>
				<div class="simple-noise"></div>
			</div>
			<div class="content">
				<h3>ほしつか</h3>
				<ul>
					<li>ゲームプログラマー</li>
					<li>webプログラマー<br>(願望)</li>
				</ul>
				<p>Since 2020.12</p>
				<img src="/icon/MyIcon.webp" alt="ほしつかのアイコン">
			</div>

		</div>
		<div class="back">
			<div class="back-ground">
				<div class="main-color"></div>
				<div class="stripes"></div>
				<div class="simple-noise"></div>
			</div>
			<div class="content">
				<div class="infomation-group">
					<h3>スキル</h3>
					<ul>
						<li>UnityとC#</li>
						<li>ShaderGraph</li>
						<li>HTMLとCSS</li>
					</ul>
				</div>
				<div class="infomation-group">
					<h3>勉強中</h3>
					<ul>
						<li>Webフレームワーク<br>(Astro)</li>
						<li>TSとJS</li>
						<li>SCSS</li>
						<li>Blender</li>
						<li>GIMP</li>
						<li>GitとGitHub</li>
					</ul>
				</div>
				<p>Since 2020.12</p>
			</div>
		</div>
	</div>
</about-me-card>	
 
<style lang="scss">
@use '../global-styles/_variables' as *;
@function getStripeValue($step:5px,$count:5){
	$offset:$step;
	$result:();
	@for $countUp from 0 through $count{
		//#白部分(step分の幅)
		$startOfWhiteLine:$countUp * $step * 3 + $offset;
		$result:append($result,$light-yellow $startOfWhiteLine,comma);
		$result:append($result,$light-yellow $startOfWhiteLine + $step,comma);
		//#透明部分(2step分の幅)
		$startOfTransparent:$startOfWhiteLine;
		$result:append($result,transparent $startOfTransparent,comma);
		$result:append($result,transparent $startOfTransparent + $step * 2,comma);
	}
	@return $result;
}

@layer Layout{
	about-me-card{
		perspective: 2000px;
		.card{
			transform-style:preserve-3d;
			position:relative;
			&.is-flipped{
				transform:rotateY(180deg);
			}
			&:hover{
				cursor: pointer; 
			}
			.front,.back{
				position:absolute;
				.back-ground,.content{
					position:absolute;
				}
			}
			.front{
				.back-ground{
					& > *{
						position:absolute;
					}
				}
				.content{
					h3{
						position:absolute;
						top:45px;
						left:20px;
					}
					ul{
						position:absolute;
						display:flex;
						flex-direction:column;
						gap:10px;
						top:105px;
						left:8px;
						li{
							display: flex;
							align-items: baseline;
						}
					}
					img{
						position:absolute;
						top:20px;
						right:10px;
					}
					p{
						position:absolute;
						bottom:1px;
						right:5px;
					}
				}
			}
			.back{
				transform:rotateY(180deg);
				.back-ground{
					position:absolute;
					.main-color{
						position:absolute;}
					.stripes{
						position:absolute;}
					.simple-noise{
						position:absolute;}
				}
				.content{
					display:flex;
					justify-content: left;
					gap:25px;

					.infomation-group{
						margin-top:6px;
						margin-left:15px;
						ul{
							display:flex;
							flex-direction:column;
							gap:5px;
							li{
								display: flex;
								align-items: baseline;
							}

						}
					}
					p{
						position:absolute;
						bottom:1px;
						right:5px;
					}
				}
			}
		}
	}
}
@layer Appearance{
	about-me-card{
		.card{
			width:350px;
			aspect-ratio: 91 / 55;
			transition:transform 1s;
			-webkit-tap-highlight-color: transparent;
			.front, .back{
				width:100%;
				height:100%;
				backface-visibility: hidden;
				will-change: transform;
				.back-ground, .content{
					width:100%;
					height:100%;
				}
			}
			.front{
				.back-ground{
					& > *{
						width:100%;
						height:100%;
						border-radius: 40px 10px 10px 10px;
					}
					.main-color{
						box-shadow: 4px 4px 8px darkgoldenrod; 
						background-color: $yellow;
						outline:1px solid transparent;
						border:1px solid gainsboro;
					}
					.stripes{
						background: linear-gradient(45deg, getStripeValue()),
									linear-gradient(225deg, getStripeValue());
					}
					.simple-noise{
						background-image: url('/texture/simpleNoise.webp');
						mix-blend-mode: multiply;
						opacity: 8%;
					}

				}
				.content{
					h3{
						font-size:30px;
						font-family: sans-serif;
					}
					ul{
						li{
							list-style: none;
							font-size:15px;
							font-family: serif;
							&::before{
								font-weight: 900;
								content: '・';
								color :black;
							}

						}
					}
					img{
						width:150px;
						height:150px;
						border-radius: 50%;
						outline:3px solid white;
					}
					p{
						color:darkgoldenrod;
						font-style: italic;
					}

				}

			}
			.back{
				.back-ground{
					& > *{
						width:100%;
						height:100%;
						border-radius: 10px 40px 10px 10px;
					}
					.main-color{
						box-shadow: 4px 4px 8px darkgoldenrod; 
						background-color: $yellow;
						border:1px solid gainsboro;
					}
					.stripes{
						background: linear-gradient(135deg, getStripeValue()),
									linear-gradient(315deg,getStripeValue());

					}
					.simple-noise{
						background-image: url('/texture/simpleNoise.webp');
						mix-blend-mode: multiply;
						opacity: 8%;
					}
				}
				.content{
					.infomation-group{
						h3{
							font-size:20px;
							font-family: sans-serif;
						}
						ul{
							li{
								list-style: none;
								font-size:15px;
								font-family: serif;
								&::before{
									font-weight: 900;
									content: '・';
									color :black;
								}

							}
						}
					}
					p{
						color:darkgoldenrod;
						font-style: italic;
					}

				}
			}
		}
	}
}

@media (max-width:700px) {
	about-me-card{
		.card{
			width:320px;
		}
	}
}
    

</style>
<script>
	class AboutMeCard extends HTMLElement{
		connectedCallback(){
			const card:HTMLElement|null = this.querySelector('.card')
			if(card===null){console.log('cardクラス属性が付与されたhtml要素が見つかりませんでした。'); 
				return;}

			card.addEventListener('click',()=>{
				card.classList.toggle('is-flipped');
			});
		}
	}
	customElements.define('about-me-card',AboutMeCard);

</script>
