---
//#フッターに関するuiコンポーネント
interface Props{
	zIndex?:string;
	blendMode?:string;
}
const {zIndex:zIndex="auto",blendMode:blendMode="normal"}:Props = Astro.props;
---
<footer style={`--z-index:${zIndex};--blend-mode:${blendMode};`}>
	<p id="Copyright">© 2026 Hositukaのホームページ</p>
</footer>

<style lang="scss">
@use '../styles/_utility' as *;
@layer Layout{
	footer{
		position:relative;
		&::before{
			position:absolute;
			z-index:var(--z-index);
		}
		#Copyright{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			z-index:calc(var(--z-index) + 1);
		}
	}
}
@layer Appearance{
	footer {
		width:100%;
		height:50px;
		&::before{
			width:100%;
			height:100%;
			background-color: $yellow;
			border-top:1px solid black;
			mix-blend-mode: var(--blend-mode);
			content:'';
		}
		#Copyright{
			color: black;
			text-align:center;
			width:max-content;
			font-family: sans-serif;
		}
	}
}

@media (max-width:790px) {
}

</style>
