---
//ここは全てのBlog系のwebページにおいて、共通する内容を書くところです。cssレイヤーの都合から各ページコンポーネントのフロントマターで一番最初に読み込んでください
import GlobalNav from '../components/GlobalNav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title:string;
}

const {title}:Props = Astro.props;

---
<!doctype html>		
<html lang="ja">	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:inline>
			@layer Normalize, CssReset, Layout, Appearance;
		</style>

	</head>
	<body>
        <GlobalNav/>
		<div class="blog-wrapper">
			<slot/>
		</div>
		<Footer zIndex='2' blendMode='multiply'/>
	</body>
</html>

<style lang="scss">
@use "../styles/_utility" as *;
//#ここで全てのコンポーネントで共通するcssレイヤーの順序と読み込みを行っている
@layer Normalize, CssReset, Layout, Appearance;
/*##ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../styles/Normalize.css") layer(Normalize);
/*##webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../styles/CssReset.css") layer(CssReset);


@layer Layout{
	body{
		position:relative;
		display:flex;
		align-items:center;
		flex-direction: column;
		min-height:100dvh;
        .blog-wrapper{
            position:relative;
			margin-top:70px;
			margin-bottom:20px;
        }
	}
	
}
@layer Appearance{
	
	html {
		
		//#ios特有のびよーんってなってもとにもどる挙動を防ぐコード
		 overscroll-behavior: none;
		body{
			overscroll-behavior: none;
            background-image: linear-gradient(to bottom,
                    $light-yellow,$light-yellow 20%,
                    gray 20%, gray calc(20% + 0.5px),
                    ghostwhite calc(20% + 0.5px), ghostwhite 100%);
            .blog-wrapper{
                width:calc(100% - 100px);
				flex-grow:1;
                background-color: white;
                box-shadow:0px 0px 6px gray;
            }
		}
	}
}
@media(max-width:700px){
	html{
		body{
			.blog-wrapper{
				width:calc(100% - 20px);
			}
		}
	}
}

