---
//ここは全てのwebページで共通する内容を書くところです。cssレイヤーの都合から各ページコンポーネントのフロントマターで一番最初に読み込んでください
interface Props {
	title:string;
}
const {title}:Props = Astro.props;

---
<!doctype html>		
<html lang="ja">	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
//#ここで全てのコンポーネントで共通するcssレイヤーの順序と読み込みを行っている
@charset "UTF-8";
/*##ユーザーエージェントスタイルシートを統一するスタイルシートをlayerとして読み込んでいる、*/
@import url("../global-styles/Normalize.css") layer(Normalize);
/*##webページ全体で共通するスタイルをレイヤーとして読み込んでいる*/
@import url("../global-styles/CssReset.css") layer(CssReset);
@layer Normalize, CssReset, Layout, Appearance;

@layer Layout{
	body{
		position:relative;
		display:flex;
		flex-direction: column;
		min-height:100vh;
		min-height:100dvh;
	}
	
}
@layer Appearance{
	
	html {
		box-sizing: border-box; /* 1. 大元で指定 */
		//#ios特有のびよーんってなってもとにもどる挙動を防ぐコード
		 overscroll-behavior: none;
		body{
			overscroll-behavior: none;
		}
	}
	*, *::before, *::after {
		box-sizing: inherit;    /* 2. すべての要素に「親から継承しろ」と命じる */
	}
}
