---
import FrequencyBar from "../FrequencyBar.astro"

---
<header-of-about-me role="header">
    <FrequencyBar zIndex="0" yOffset={20} maxHeight={1}/>
    <div class="myIcon">
        <img class="h-of-hosituka" src="/texture/hOfHosituka.webp" alt="HositukaのHOの内のH">
        <img class="o-of-hosituka" src="/texture/oOfHosituka.webp" alt="HositukaのHOの内のO">
    </div>
</header-of-about-me>
<style lang="scss">
@use '../../styles/_utility' as *;
$MyIconWidth:290px;
@layer Layout{
    header-of-about-me{
        display:block;
        position:relative;
        &:before{
            position:absolute
        }
        .myIcon{
            position:absolute;
            left:calc(50% - $MyIconWidth / 2 + 150px);
            top:60px;
            &:before{
                position:absolute;
                z-index:1;
            }
            .h-of-hosituka{
                position:absolute;
                top:50%;
                left:30%;
                transform:translate(-50%,-50%);
                z-index:3;
            }
            .o-of-hosituka{
                position:absolute;
                top:52%;
                right:25%;
                transform:translate(50%,-50%);
                z-index:3;
            }
        }
    }
}
@layer Appearance{
    header-of-about-me{
        width:100%;
        height:370px;

        background-image:url('/texture/codeBackGround.webp');
        background-size: cover;
        &:before{
            width:100%;
            height:100%;
            background-color: rgba(yellow,0.7);
            content:"";
        }
        .myIcon{
            width:$MyIconWidth;
            aspect-ratio: 1/1;

            &:before{
                width:100%;
                height:100%;
                background-color: $my-icon-main-color;
                border-radius: 50%;
                border:2px solid white;
                content:"";
            }
            .h-of-hosituka{
                width:110px;
            }
            .o-of-hosituka{
                width:125px;
                animation: RotateZ forwards 16s linear infinite normal;
           }
        }
    }
}
@keyframes RotateZ{
    0% {
    }
    100%{
        transform:translate(50%,-50%) rotateZ(360deg);
    }
}

</style>